#clockContainer {
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour , #minute , #second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 2.1%;
    height: 20%;
    top: 30%;
    left: 49.0%;
}

#minute {
    width: 1.7%;
    height: 33%;
    top: 17%;
    left: 49.13%;
    opacity: 0.8;
}

#second {
    width: 1%;
    height: 40%;
    top: 10%;
    left: 49.5%;
    opacity: 0.8;
}